<!--$('#addEditModalButton').html("edit")-->
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <!----><script src="~/Scripts/angular.js"></script>

    <!-- x-editable -->
    <link href="~/Content/angular-xeditable-0.6.0/css/xeditable.css" rel="stylesheet">
    <!--<script src="~/Scripts/jquery-3.1.1.js"></script>-->
    <script src="~/Content/angular-xeditable-0.6.0/js/xeditable.js"></script>

    <!-- bootstrap -->
    <!--<link rel="stylesheet" href="~/Content/bootstrap-theme.css" />-->

    <!--<script src="~/Scripts/bootstrap.js"></script>-->
    <!-- other -->
    <link rel="stylesheet" href="~/Content/Site.css" />
    <script src="~/Scripts/script.js"></script>


    <!-- smart table -->
    <script src="~/Scripts/lrStickyHeader.js"></script>
    <script src="~/Scripts/smart-table.js"></script>
    <script src="~/Scripts/stSelectRow.js"></script>
    <!--<script src="~/Scripts/stStickyHeader.js"></script>-->
</head>

<body ng-controller="mainCtrl">
    <table st-table="displayed" class="table table-hover">
        <thead>
            <tr>
                <th>
                    <p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#advancedModal" id=advancedModalButton>
                            <span class="glyphicon glyphicon-edit text-center"></span> Advanced
                        </button>
                    </p>
                </th>
                <th>
                    <p>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#addModal" id=addModalButton>
                            <span class="glyphicon glyphicon-plus text-center"></span> Add
                        </button>
                    </p>
                </th>
                <th colspan="4">
                    <input st-search placeholder="search all" class="input-sm form-control" type="search" />
                </th>
            </tr>
            <tr>
                <th st-ratio="10" st-sort="status">Status</th>
                <th st-ratio="15" st-sort="mcref">MCREF</th>
                <th st-ratio="50" st-sort="subject">Subject</th>
                <th st-ratio="25" st-sort="client">Client</th>
            </tr>
        </thead>
        <tbody>
            <tr st-select-row="row" st-select-mode="single" ng-repeat="row in displayed">
                <td st-ratio="10">{{row.status}}</td>
                <td st-ratio="15">{{row.mcref | uppercase}}</td>
                <td st-ratio="50">{{row.subject}}</td>
                <td st-ratio="25">{{row.client}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="12" class="text-center">
                    <div st-items-by-page="15" st-pagination=""></div>
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="modal fade" id="advancedModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:95%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title" id="myModalLabel">Bid Details</h2>
                </div>
                <div class="modal-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#editTab" aria-controls="editTab" role="tab" data-toggle="tab">Edit</a>
                            </li>
                            <li role="presentation">
                                <a href="#emailTab" aria-controls="emailTab" role="tab" data-toggle="tab">Email</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="editTab">
                                <!-- Start Tab Body -->
                                    <div class="col-lg-12">
                                        <table id="editBidModal" class="table table-bordered table-striped" style="clear: both">
                                            <tbody>
                                                <tr>
                                                    <td width="35%">Status:</td>
                                                    <td width="65%"><a href="#" id="Status" data-type="text" data-pk="1" data-placement="right" data-title="Status"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>MCREF:</td>
                                                    <td><a href="#" id="MCREF" data-type="text" data-pk="1" data-placement="right" data-title="MCREF"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Subject:</td>
                                                    <td><a href="#" id="Subject" data-type="text" data-pk="1" data-placement="right" data-title="Subject"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Client:</td>
                                                    <td><a href="#" id="Client" data-type="text" data-pk="1" data-placement="right" data-title="Client"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Sales Rep:</td>
                                                    <td><a href="#" id="SalesRep" data-type="text" data-pk="1" data-placement="right" data-title="Sales Rep"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Bidding Manager:</td>
                                                    <td><a href="#" id="BiddingManager" data-type="text" data-pk="1" data-placement="right" data-title="Bidding Manager"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Reply Count:</td>
                                                    <td><a href="#" id="ReplyCount" data-type="text" data-pk="1" data-placement="right" data-title="Reply Count"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Total Revenue:</td>
                                                    <td><a href="#" id="TotalRevenue" data-type="text" data-pk="1" data-placement="right" data-title="Total Revenue"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>CPI:</td>
                                                    <td><a href="#" id= "CPI" editable-text="EditBid.CPI" onbeforesave="checkIfNumber($data)" onaftersave="saveNewBid()" e-required> {{EditBid.CPI || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>IR:</td>
                                                    <td><a href="#" editable-text="EditBid.IR" onbeforesave="checkIfNumber($data)" e-required> {{EditBid.IR || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>LOI:</td>
                                                    <td><a href="#" editable-text="EditBid.LOI" onbeforesave="checkIfNumber($data)" e-required> {{EditBid.LOI || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Sample Type:</td>
                                                    <td><a href="#" editable-text="EditBid.SampleType" e-required> {{EditBid.SampleType || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Country Language:</td>
                                                    <td><a href="#" editable-text="EditBid.CountryLanguage" e-required> {{EditBid.CountryLanguage || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>N Requested:</td>
                                                    <td><a href="#" editable-text="EditBid.NRequested" e-required> {{EditBid.NRequested || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>N Feasible:</td>
                                                    <td><a href="#" editable-text="EditBid.NFeasible" e-required> {{EditBid.NFeasible || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Target Age:</td>
                                                    <td><a href="#" editable-text="EditBid.TargetAge" onbeforesave="checkIfNumber($data)" e-required> {{EditBid.TargetAge || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Target Gender:</td>
                                                    <td><a href="#" editable-text="EditBid.TargetGender" e-required> {{EditBid.TargetGender || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Target Notes:</td>
                                                    <td><a href="#" editable-text="EditBid.TargetNotes" e-required> {{EditBid.TargetNotes || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Quota Notes:</td>
                                                    <td><a href="#" editable-text="EditBid.QuotaNotes" e-required> {{EditBid.QuotaNotes || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Tags:</td>
                                                    <td><a href="#" editable-text="EditBid.Tags" e-required> {{EditBid.Tags || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Follow Up:</td>
                                                    <td><a href="#" editable-text="EditBid.FollowUp" e-required> {{EditBid.FollowUp || 'empty' }}</a></td>
                                                </tr>
                                                <tr>
                                                    <td>Category:</td>
                                                    <td><a href="#" editable-text="EditBid.Category" e-required> {{EditBid.Category || 'empty' }}</a></td>
                                                </tr>

                                            </tbody>
                                        </table> <!-- end editable fields -->
                                    </div>
                            </div> <!--End Edit Tab Body-->


                            <div role="tabpanel" class="tab-pane" id="emailTab">
                                Please wait while redirecting to OWA...
                                <!-- Email Tab Body -->
                                <!--<div class="row">
                                    <div class="col-md-6">
                                        Left
                                    </div>
                                    <div class="col-md-6">
                                        <h2>Send e-mail to someone@example.com:</h2>
                                        <form action="mailto:someone@example.com" method="post" enctype="text/plain">
                                            Name:<br>
                                            <input type="text" name="name"><br>
                                            E-mail:<br>
                                            <input type="text" name="mail"><br>
                                            Comment:<br>
                                            <input type="text" name="comment" size="50"><br><br>
                                            <input type="submit" value="Send">
                                            <input type="reset" value="Reset">
                                        </form>
                                    </div>
                                    -->
                            </div> <!--End Email Tab Body-->

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Save changes</button>
                </div>

            </div>
        </div>
    </div><!-- end Edit modal -->
    <!-- </div> -->

    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width:95%;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2 class="modal-title" id="myModalLabel">Add New Bid</h2>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <table id="newBidModalSystemFill" class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                    <tr>
                                        <td width="35%">Status:</td>
                                        <td width="65%"><a href="#" id="newStatus" data-type="text" data-pk="1" data-placement="right" data-title="New Status"></a></td>
                                    </tr>
                                    <tr>
                                        <td>MCREF:</td>
                                        <td><a href="#" id="newMCREF" data-type="text" data-pk="1" data-placement="right" data-title="New MCREF"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Subject:</td>
                                        <td><a href="#" id="newSubject" data-type="text" data-pk="1" data-placement="right" data-title="New Subject"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Client:</td>
                                        <td><a href="#" id="newClient" data-type="text" data-pk="1" data-placement="right" data-title="New Client"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Sales Rep:</td>
                                        <td><a href="#" id="newSalesRep" data-type="text" data-pk="1" data-placement="right" data-title="New Sales Rep"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Bidding Manager:</td>
                                        <td><a href="#" id="newBiddingManager" data-type="text" data-pk="1" data-placement="right" data-title="New Bidding Manager"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Reply Count:</td>
                                        <td><a href="#" id="newReplyCount" data-type="text" data-pk="1" data-placement="right" data-title="New Reply Count"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Total Revenue:</td>
                                        <td><a href="#" id="newTotalRevenue" data-type="text" data-pk="1" data-placement="right" data-title="New Total Revenue"></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- begin editable fields -->
                        <div class="col-md-6">

                            <table id="newBidModal" class="table table-bordered table-striped" style="clear: both">
                                <tbody>
                                    <tr>
                                        <td width="35%">CPI:</td>
                                        <td width="65%"><a href="#" editable-text="NewBid.CPI" onbeforesave="checkIfNumber($data)" e-required> {{NewBid.CPI || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>IR:</td>
                                        <td><a href="#" editable-text="NewBid.IR" onbeforesave="checkIfNumber($data)" e-required> {{NewBid.IR || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>LOI:</td>
                                        <td><a href="#" editable-text="NewBid.LOI" onbeforesave="checkIfNumber($data)" e-required> {{NewBid.LOI || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Sample Type:</td>
                                        <td><a href="#" editable-text="NewBid.SampleType"> {{NewBid.SampleType || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Country Language:</td>
                                        <td><a href="#" editable-checklist="NewBid.CountryLanguage" e-ng-options="l.value as l.text for l in languages"> {{ showLanguages() }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>N Requested:</td>
                                        <td><a href="#" editable-text="NewBid.NRequested" onbeforesave="checkIfNumber($data)"> {{NewBid.NRequested || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>N Feasible:</td>
                                        <td><a href="#" editable-text="NewBid.NFeasible" onbeforesave="checkIfNumber($data)"> {{NewBid.NFeasible || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Target Age:</td>
                                        <td><a href="#" editable-text="NewBid.TargetAge" onbeforesave="checkIfNumber($data)"> {{NewBid.TargetAge || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Target Gender:</td>
                                        <td><a href="#" editable-select="NewBid.TargetGender" e-name="gender" e-ng-options="g.value as g.text for g in genders"> {{ NewBid.TargetGender || 'Select One' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Target Notes:</td>
                                        <td><a href="#" editable-textarea="NewBid.TargetNotes"> {{NewBid.TargetNotes || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Quota Notes:</td>
                                        <td><a href="#" editable-textarea="NewBid.QuotaNotes"> {{NewBid.QuotaNotes || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Tags:</td>
                                        <td><a href="#" editable-textarea="NewBid.Tags"> {{NewBid.Tags || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Follow Up:</td>
                                        <td><a href="#" editable-text="NewBid.FollowUp" e-required> {{NewBid.FollowUp || 'empty' }}</a></td>
                                    </tr>
                                    <tr>
                                        <td>Category:</td>
                                        <td><a href="#" editable-text="NewBid.Category"> {{NewBid.Category || 'empty' }}</a></td>
                                    </tr>
                                </tbody>
                            </table>


                            <!-- end editable fields -->
                        </div>
                    </div>
                </div> <!-- end modal body-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Save changes</button>
                </div>
            </div>
        </div>
    </div><!-- end Edit modal -->

</body>
</html>