<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Email.ImapServer" value="secure.emailsrvr.com"/>
    <add key="Email.ImapServerPort" value="143"/>
    <add key="Email.EmailAddress" value="abrar.basha@market-cube.com"/>
    <add key="Email.Password" value="Clemson09!"/>
    <add key="Email.ImapServerSendingPort" value="587"/>
    <add key="Email.BidDataKeys" value="CPI,LOI"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
