.st-selected {
    border-left: 4px solid #428BCA;
    background-color: #ADD8E6;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.table-container {
    height: 500px;
    overflow-y: scroll;
}

.modalGridBorder {
    border-right: 1px solid #428BCA;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #428BCA !important;
}